
/******************************
/* General class and Elements */ 
html {
	 box-sizing: border-box; 
	}
*, 
*::after,
*::before {
	box-sizing: inherit;
}

input,
textarea,
button {
	width: 100%;
}

li a {
	font-size: 1rem ;
	display: block;
	text-decoration: none;
	padding: 0.63rem ;
	color: white; 
}

a:hover {
 	color: #e8491d;
 	border-bottom:1px solid #e8491d ;
 	border-radius: 10px;
 }

 .active { color: #e8491d; }

.grid-container {
	font: 16px/1.5 Arial, Helvetic, sans-serif;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: 
	"Header 		   Header 		     Header "
	"ShowCase   	   ShowCase 		 ShowCase "
	"SectionSubscribe  SectionSubscribe  SectionSubscribe "
	"MainSection 	   MainSection 	     MainSection "
	"Footer 	       Footer 		     Footer";	
}

.container {
	width: 90%; 
	max-width: 1200px ; 
	min-width: 200px ; 
	margin: 0 auto ;
	padding: 0.63rem ; /* 0.63rem = 10px */
}
.dark-mode
 {
 	text-align: center;
	color: white;
	padding: 0.63rem 0.63rem ;
	background-color: #35424a;
}
.gray-mode
{
	text-align: center;
	color: black;
	padding: 0.63rem 0.63rem ;
	background-color: #e6e6e6;
	margin: 0.31rem 0 ;
}
.button
 {
	font-size: 1.1rem;
	color: white;
	background-color: #e8491d;
	border:1px solid #e8491d;
	border-radius: 10px;
}
.resetHeadingh3 {
	margin: 0;
	text-align: center;
}
.resetParagraph {
	max-width: 600px;
	min-width: 250px;
	text-align: justify;
	margin: 0.63rem 0 0 0 ;
	padding: 10px;
}

/************************
***	Header Section ******
************************/
header.grid-item1 { /* header for all pages */ 
	background-color: #35424a;
	margin: 0 ;
	text-align: center; 
	border-bottom: 0.31rem solid #e8491d;
	grid-area: Header;
	position: sticky;
	top: 0.1px;
}
.logo { 
	color: white;
	font-size: 1.88rem; /* 1.87 = 30px */ 
	margin: 0.63rem 0;
}


header.grid-item1 .nav-flex-container {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;

}
/*************************************
********** Show Case Scection *******/
section.showcase.grid-item2 {
	background-color: #35424a;
	background-image: url('../img/showcase.jpg');
	background-repeat: no-repeat;
	background-position: 30% 45% ;
	text-align: center;
	color: white;
	grid-area: ShowCase;
	background-attachment: fixed;		
}
section.showcase.grid-item2 h1 { 
	font-size: 3.43rem;
	font-weight: bolder;
	margin: 1.25rem 0;
	 }
section.showcase.grid-item2 p  { 
	font-size: 1.25rem; 
	font-weight: bold;
}

/****************************************
*********** Subscribe Section **********/
section.section-subscrib.grid-item3 {
	background-color: #35424a;
	color: white;
	text-align: center;
	grid-area: SectionSubscribe;
}
.section-subscrib-flex-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}
.section-subscrib-flex-container .flex-item1 {
	font-size: 1.5rem;
	margin: 12px 0;
}
.section-subscrib-flex-container .flex-item2,
.section-subscrib-flex-container .flex-item3.button {
	margin: 0.63rem 0;
	padding: 0.63rem;
}
/**************************************
***** main-index section **************
***** main-about section **************
***** main-services section **********/
main.grid-item4,
main.about-section.grid-item2,
main.services-section.grid-item2 {
	grid-area: MainSection;
}
main.services-section.grid-item2 .dark-mode > *,
main.about-section .container > *{
	
	margin: 0.63rem 0 ;
	padding: 0.63rem 0 ;
}
main.grid-item4 .flex-box-container
{
	padding: 0.63rem 0 0 0 ;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	/*text-align: center;*/
	align-items: center;
}
.flex-box-container .flex-item1 {
	width: 25%;
	min-width: 100px ; 
	max-width: 150px;
}
.flex-box-container .flex-item3 {
	width: 70%;
	text-align: center;
	margin-top: 0;
}

/************************************
**** Footer Section **************/
footer.grid-item5 {
	background-color: #e8491d;
	color: white;
	text-align: center;
	padding: 1rem 0 ;
	grid-area: Footer;
}

/**********************************
********* Responsive *************/
@media (min-width: 768px) {
	
	header.grid-item1 { 
		height: 14vh;
		position: static;
		}
	section.showcase.grid-item2 {
		height: 86vh;
		 }
	section.showcase.grid-item2 .container {
		 height: 86vh;
		 display: flex;
		 flex-direction: column;
		 justify-content: center;
		 }
	header.grid-item1 .header-flex-container {
		display: flex;
		flex-direction: row	;
		flex-wrap: nowrap;	
		align-items: baseline;	
	}
	header.grid-item1 .header-flex-container .logo {
		text-align: left;
		flex-grow: 	1;
	}
	header.grid-item1 .header-flex-container .nav-bar {
		flex-grow: 	2;	
	}
	.section-subscrib-flex-container {
		flex-direction: row	;
		justify-content: flex-start	;
		height: 24vh;
	}
	.section-subscrib-flex-container .flex-item1 {
		
		text-align: left;	
		align-self: baseline;	
		min-width: 	330px;
		}
	.section-subscrib-flex-container div {
		margin-left: 0.63rem;
		flex-grow: 1 ;
		}

    main.grid-item4 .flex-box{
    	display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0 auto;
		align-items: center;
    }
	main.about-section .flex-box,
	main.services-section .flex-box
	 {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin: 0 auto;
	} 	
	
	main.about-section .flex-box .firschild {
		flex-grow: 2;
		flex-shrink: 1;
		margin-right: 0.63rem;
	}
	main.grid-item2 .flex-box .lastchld {
		flex-grow: 1;
		flex-shrink: 3;
		align-self: stretch;
	}
	main.about-section.grid-item2 .resetParagraph{
		align-self: flex-start; 
	}
	main.services-section .flex-box .first-child{
		margin-right: 0.63rem;
		flex-grow: 1;
	}
	main.services-section .flex-box .last-child
	{
		flex-grow: 2;
		align-self: stretch;
		margin-top: 32px;
	}

}